{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Pour me contacter{% endblock %}

{% block body %}


<hr>

<div class="home-descri">

    <form action="">
        <input type="text" name="" placeholder="Nom" id="">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        {# <textarea id="mytextarea">Hello, World!</textarea> #}
    </form>
    
</div>


{% endblock %}
