{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block pageTitle %} Bienvenue ! {% endblock %}
{% block body %}


<h2>Je vous invite à feuilleter avec moi</h2>

<main class="wrapper">
    
    <div class="home-hero home-wrap-hero">
        {# <img src="{{asset('images/home/arbre.jpg')}}" alt="Image d'arbre" width="440"> #}

        <p> 
            Quelques Pages Feuilletées (chroniques radio),
            le Feuilleton À la recherche du Jean-Baptiste perdu,
            ou les écrits de diverses personnes de ma Famille, agrémentés de nombreuses images.
            Comme la nature des Fées est de transformer une chose  en une autre
            il est donc normal que vous trouviez ici de l’oral transformé en écrit, entre autres choses…
        </p>
    </div>

    <div class="home-paints">
    <p>
        Mon Magicien préféré, lui, transforme un dahlia en Cène et le marbre en chair.
    </p> 
        <img src="{{asset('images/home/adahlia.JPG')}}" alt="Peinture" width="440">
        <img src="{{asset('images/home/aPieta.jpg')}}" alt="Peinture" width="320">
    </div>

    <p class="end-descri">
        Bien que Fée, mon seul pouvoir est celui que j’emprunte au Saint Esprit,
        qui transforme, lui aussi, « le tordu en droit, le malade en sain et le froid en chaud », comme dit la liturgie.
        Cette alchimie est à l’œuvre dans diverses activités humaines, le ménage, la cuisine, la traduction, l’éducation, la médecine, le bricolage et pas mal d’autres.
        Le Saint Esprit est cette  ménagère économe et patiente qui « ne brise pas le roseau froissé, n’éteint pas la mèche qui fume ».
        Il est aussi ce courant d’air espiègle et imprévu qui fait claquer les portes et envoler les papiers des gens sérieux.
        C’est de ce double parrainage que se réclame la petite Fée qui hante ces lieux, et qui vous salue bien,
    </p>
</main>


{% endblock %}
