{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Mes liens favoris.{% endblock %}
{% block body %}


<main class="wrapper">

    <img src="{{asset('images/spirale.jpg')}}" alt="Tableau de spirale" width="600">
    <div class="fav-links">
        
        <ul>
            <li> <a href="https://www.utopix-lozere.fr/" target="_new" >L’univers magique de Jo Pillet </a></li>
            <li> <a href="http://www.cite-catholique.org/index.php/" target="_new" > Le forum la Cité Catholique</a></li>
            <li> <a href="http://cristallino.free.fr/" target="_new" >Le site de Cristian </a></li>
            <li> <a href="https://www.infogm.org/" target="_new" >Le site de mon filleul </a></li>
            <li> <a href="http://jade-allegre.com/argiles/" target="_new" >Le site de Florence</a></li>
            <li> <a href="https://aide-et-action.org/" target="_new" > Le site d'Aide et Action </a></li>
            
        </ul>
    </div>
</main>


{% endblock %}
