{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Mes liens favoris.{% endblock %}
{% block body %}


<div class="home-descri">

    <img src="{{asset('images/spirale.jpg')}}" alt="Tableau de spirale" width="600">
    <div class="fav-links">
        
        <ul>
            <li> <a href="https://www.utopix-lozere.fr/" target="_new" >L’univers magique de Jo Pillet </a></li>
            <li> <a href="http://www.cite-catholique.org/index.php/" target="_new" > Le forum la Cité Catholique</a></li>
            <li> <a href="https://www.thomas-d-aquin.com/Pages/Forum/ForumMenuCadre.html" target="_new" >Le forum Thomiste </a></li>
            <li> <a href="hhttp://docteurangelique.free.fr/accueil.html/" target="_new" >Le site Thomas d'Aquin </a></li>
            <li> <a href="http://cristallino.free.fr/" target="_new" >Le site de Cristian </a></li>
            <li> <a href="http://gira.cadouarn.pagesperso-orange.fr/france/index_fr.htm/" target="_new" >Un site sur le Saint Suaire </a></li>
            <li> <a href="https://www.infogm.org/" target="_new" >Le site de mon filleurl </a></li>
            <li> <a href="http://jade-allegre.com/argiles/" target="_new" >Le site de Florence</a></li>
            <li> <a href="https://aide-et-action.org/" target="_new" > Le site d'Aide et Action </a></li>
            <li> <a href="http://www.cledut.net/xylo.html/" target="_new" >Un site pour rire </a></li>
            
        </ul>
    </div>
</div>


{% endblock %}
