{% extends 'base.html.twig' %}

{% block title %}Mémoires{% endblock %}

{% block pageTitle %}{{memorie.title}}{% endblock %}
{% block body %}

<hr>

<main class="wrapper">
    <div class="memoire-text">
        <p>{{memorie.content|raw}}</p>
    </div>
</main>

{% endblock %}
