{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} LES MÉMOIRES DE MON PÈRE, JEAN NURDIN {% endblock %}
{% block body %}

<hr>

<div class="home-descri">
    <div class="home-descri">
        {% for memo in memories %}

            <h3><a href="{{path('memoire-detail', {'id' : memo.id})}}">
                {% if memo.chapter < 1 %}
                {{memo.title}}</a></h3>
                {% else %}
                    Chapitre {{memo.chapter}}: {{memo.title}}</a></h3>
                {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}
