{% extends 'base.html.twig' %}

{% block title %}detail{% endblock %}

{% block pageTitle %}{{memorie.title}}{% endblock %}
{% block body %}


<hr>

<div class="home-descri">
    <p>{{memorie.content|raw}}</p>
</div>


{% endblock %}
