{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Les Mémoires de mon Père, JEAN NURDIN {% endblock %}
{% block body %}

<div class="home-descri wrapper">
    <div class="chapter-list">
        {% for memo in memories %}
                <h3><a href="{{path('memoire-detail', {'id' : memo.id})}}">
                    
                    {% if memo.chapter < 1 %}
                    {{memo.title}}</a></h3>
                    {% else %}
                    Chapitre {{memo.chapter}}: {{memo.title}}</a></h3>
                    {% endif %}
                    {% endfor %}
    </div>
</div>


{% endblock %}
