{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} LES MÉMOIRES DE MON PÈRE, JEAN NURDIN {% endblock %}
{% block body %}



<h2></h2>

<hr>

<div class="home-descri">
    
    <h4> <a href="{{path('mémoire-detail')}}">article title (link to detail)</a></h4>
</div>


{% endblock %}
