{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} LES MÉMOIRES DE MON PÈRE, JEAN NURDIN {% endblock %}
{% block body %}



<h2></h2>

<hr>

<div class="home-descri">
    
    <p>here => get List of articles from db</p>
</div>


{% endblock %}
