{% extends 'base.html.twig' %}

{% block title %}detail{% endblock %}

{% block pageTitle %}article title{% endblock %}
{% block body %}


<hr>

<div class="home-descri">
    
    <p>text</p>
</div>


{% endblock %}
