{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Pages feuilletées ! {% endblock %}
{% block body %}



<h2>Chroniques réalisées en 1994 et 1995 sur Radio Eaux Vives Lozère, maintenant rattachée à RCF. En notes, les commentaires 2010.       </h2>

<hr>

<div class="home-descri">
    
    <h4> <a href="{{path('page-detail')}}">article title (link to detail)</a></h4>
</div>


{% endblock %}
