{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Pages feuilletées ! {% endblock %}
{% block body %}

<hr>

<div class="home-descri">

    <h2>Chroniques réalisées en 1994 et 1995 sur Radio Eaux Vives Lozère, <br>
         maintenant rattachée à RCF. En notes, les commentaires 2010.      
    </h2>

    <div class="articles-title-list">
        {% for article in articles %}
        <h3><a href="{{path('page-detail', {'id' : article.id})}}">{{article.name}}</a>, Par {{article.author}}</h3>
        {% endfor %}
    </div>
</div>


{% endblock %}
