{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block pageTitle %} {{article.name}}{% endblock %}
{% block body %}

<hr>
    <h2>Par {{article.author}} <span>{{article.details}}</span></h2>
<hr>

<div class="home-descri page-detail">
    <p>{{article.content|raw}}</p>
</div>


{% endblock %}
