{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block pageTitle %} {{article.name}}{% endblock %}
{% block body %}


<main class="wrapper page-detail text-detail">
    <h2>Par {{article.author}} <br> <span>{{article.details}}</span></h2>
    <p>{{article.content|raw}}</p>
</main>


{% endblock %}
