{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block pageTitle %} Détail{% endblock %}
{% block body %}



<h2>Article title</h2>

<hr>

<div class="home-descri">
    
    <p>article text</p>
</div>


{% endblock %}
