{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Pages feuilletées ! {% endblock %}
{% block body %}

<hr>

<main class="wrapper">

    <h2>Chroniques réalisées en 1994 et 1995 sur Radio Eaux Vives Lozère,
         maintenant rattachée à RCF. <br> 
         En notes, les commentaires 2010.      
    </h2>

    <div class="articles-title-list">
        <ul>

            {% for article in articles %}
            <li><a href="{{path('page-detail', {'id' : article.id})}}">
                <i class="far fa-file-alt"></i>
                {{article.name}}</a>
                 <br> <span> Par {{article.author}} </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="">
        <img src="{{asset('images/branchesautomne.jpg')}}" alt="Image d'arbre" width="540">
    </div>

</main>


{% endblock %}
