{% extends 'base.html.twig' %}

{% block title %}Poèmes{% endblock %}

{% block pageTitle %} POèmes.{% endblock %}
{% block body %}


<hr>

<div class="home-descri">
    
    <p>copy text from liens </p>
</div>


{% endblock %}
