{% extends 'base.html.twig' %}

{% block title %}poem title{% endblock %}

{% block pageTitle %} Poème title.{% endblock %}
{% block body %}

<hr>

<div class="home-descri poem-detail">  
    <img src="{{asset('images/poemes/the.jpg')}}" alt="">
    
    <p>
        Lundi, un ancien usage
Voulait qu'on sortît son cahier.
J'y dessine, en bon écolier,
Un tendre et merveilleux visage.

Mardi, sacré pour les combats,
Sonne qu'en armes on se lève !
Donc je me livre, mais en rêve,
A maints délicieux ébats.

Mercredi, las ! un vent contraire,
Venu de je ne sais quel nord,
Me retient prisonnier au port,
Et j'allais cingler vers Cythère !

Jeudi, à Jupin dédié,
M'engage à flotter dans les nues,
Non sans des mines ingénues,
Pour ne rien gâter, sacredié !

Vendredi, Vénus veut qu'on aime,
Jésus aussi, mais autrement.
Comment faire décidément
Pour me tirer de ce dilemme ?

Samedi, quoi ! déjà le bout ?
Et rien de fait ! Si, pour tout baume,
"Allons prendre le thé at home -
Avec Katie !!!..." Sage, surtout ! "

Et voici l'anglican dimanche
Et son religieux festin.
Allons, mon âme, ouvrons enfin
Notre aile par-dessus la Manche !

    </p>
        
</div>


{% endblock %}
