/* general*/
@font-face{
    font-family: "freestyle";
    src: url('../fonts/FREESCPT.TTF'); 
 }
body{
    display: flex;
    font-family: 'Montserrat';
    margin: 0;padding: 0;
    background-color: #fcf6dc;

    h2{
        width: 50%;
        align-self: flex-start;
        font-family: 'Freestyle';
        font-size: 2.7rem;
        color: #2f41c7;
    }

   h3, h4{
        font-family: 'Raleway', 'Times New Roman', serif;
        color: rgb(20, 20, 75);
    }
    h1{
        // margin-left: 10%;
        font-family: 'Dancing Script', cursive;
        font-size: 3.3rem;
        color: rgb(20, 20, 75);
    }
}

#main-title{
    width: 500px;
    padding: 100px;
    background: url('../images/post-it.png') no-repeat center;
    background-size: contain;
    text-align: center;
    position: absolute;
    left: 50%;
    top: -30px;
}


hr{
    border-top: solid 1px #ccc;
    border-bottom: none;
    width: 50%;
    margin: 20px auto;
}
figcaption{
    font-size: 0.8rem;
    font-style: italic;
}

.container{
    width: 74%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}

nav{
    // background-image: url('../images/note.png');
    background: url('../images/menu.png') top no-repeat;
    position: fixed;
    width: 220px;
    background-size: cover;
    margin-left: 8px;
    padding:40px 30px;
    ul{
        transition: all .6s ease;
        width: 100%;
        li{
            list-style-type: none;
            margin: 20px 0;
            margin-left: -30px;
            color:#ccc;
            width: 100%;
            a{
                color: #2f41c7;
                text-decoration: none;
                width: 100%;
                padding: 8px;
                &:hover{
                    color:#ccc;
                    background-color: #2f41c7;
            }
        }
    }
}
    #burger{
        display: none;
        float: left;
        &:hover{
            cursor: pointer;
            color: orange;
        }
    }
}

/*home page*/
#home-title{
    margin-left: 5%;
}
.wrapper{
    text-align: center;
    width: 90%;
    margin: auto;
    h2{
        font-size: 2.8rem;
    }
    p{
        width: 70%;
        margin: 20px auto ;
        line-height: 26px;
    }
}
.home-wrap-hero{
    width: 100%;
    height: 600px;
    margin: auto;
    background: url("../images/home/leaves2.jpg") no-repeat center;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    p{
        background-color: rgba(255,255,255,.7);
        padding: 20px;
        align-self: flex-end;
        width: 30%;
        margin-left: 20px;
        font-size: 1.2rem;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1230px) {
    .home-hero p{
        width: 100%;
        margin: 20px;
    }
}

.home-paints{
    border: solid 1px #ccc;
    margin-top: 30px;
    img{
        margin: 12px;
    }
}

/*page feuilletées*/
.articles-title-list{
    width: 90%;
    margin:50px auto;
    padding-left: 50px;
    padding-right: 50px;
    background: url('../images/sheet.png') no-repeat;
    overflow-y: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*poems*/
    .list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 60px;
        ul{
            margin: 10px;
            width: 42%;
            padding: 0;
            box-shadow: 2px 2px 2px rgba(47, 64, 198, .4), -2px -2px 2px rgba(47, 64, 198, .4);
            border-radius: 8px;
            min-width: 300px;
            li{
                margin: 10px;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        .list ul{
            width: 80%;
        }
    }

    //pages
    h3{
        font-family: 'freestyle';
        text-transform: uppercase;
    }
    ul{
        margin-bottom: -210px;
    }
    li{
        text-align: left;
        padding-left: 30px;
        margin: 30px auto;
        list-style-type: none;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        font-family:'freestyle';
        
        width: 70%;
        a{
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 20px;
            color: #2f41c7;
            transition: box-shadow .6s ease;
            border-radius: 12px;
            width: auto;
            &:hover{
                color:  rgb(20, 20, 75);
                box-shadow: 2px 2px 4px rgba(47, 64, 198, .4), -2px -2px 4px rgba(47, 64, 198, .4);
            }
        }
        span{
            margin-left: 100px;
        }
    }
}

.chapter-list{
    min-height: 800px;
    ul{

        margin-top: 200px;
    }
}

.page-detail{
    width: 80%;
    margin: auto;
}

/*poeme list*/
.poems-list{
    height: 1324px;
}
.poem-imgs{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.poem-detail{
    p{
        width: 400px;
        margin: auto;
    }
}

.chapters img{
    margin-top: 80px;
}

.memoire-text{
    width: 74%;
    margin:40px auto;
}

//souvenirs page
.houses-pics, .street-pics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    figure{
        width: 44%;
    }
}
.souvenirs-wrap{
    figcaption{
        width: 400px;
        margin: auto;
    }
}

.annotation{
    font-size: 0.8rem;
    text-align: left !important;
    font-style: italic;
}

/** rouviere*/

.rouviere{
    p{
        text-align: left;
    }
    span {
        text-decoration: underline;
        margin-bottom: 16px;
    }
}

/* links page*/
.fav-links{
    width: 50%;
    margin: auto;
    min-width: 400px;
    ul{
        list-style-type: none;
        text-align: center;
        li{
            margin: 20px;
        }
        a{
            margin: 12px;
        }
    }
}

//contact

.form{
    margin-top: 220px;
    form{
        margin: auto;
        label{
            margin: 14px;
        }
        .contact-info{
            display: flex;
            flex-direction: column;
            margin:20px auto;
            width: 500px;
            input{
                height: 20px;
            }
            li{
                color: red;
            }
            li::marker{
                display: none;
            }
        }
        
        textarea{
            height: 120px;
        }
        
     button{
         background-color: rgb(20, 154, 199);
         width: 200px;
         padding: 12px;
         border: 1px ridge rgb(20, 154, 199);
         margin:30px auto;
         color:#fff;
         transition: background-color .5s ease;
         &:hover{
            background-color: transparent;
            color: rgb(20, 154, 199);
            cursor: pointer;
         }
     }   
    }

.alert-success{
    margin-left: 100px;
    background-color: rgb(74, 163, 74);
    color:#fff;
    padding: 12px;
    width: 300px;
    border-radius: 8px;
}
}

.text-detail{
    margin-top: 200px;
    background-color: #fff;
    background-size: auto;
    width: 76%;
    padding: 100px;
    box-shadow: 2px 2px 4px rgb(226, 214, 214), -2px -2px 4px #ccc;
    h2{
        width: 80%;
        margin: auto;
    }    
}


@media screen and (max-width: 1200px) {
    #main-title{
        position: relative;
        margin: auto;
        left: auto;
        width: 400px;
        padding: 80px;
    }
    h2{
        width: 100% !important;
        align-self: center;
    }
    .articles-title-list{
        ul{
            width: 100%;
            li{
                width: 100%;
                margin-left: -60px;
            }
        } 
    } 
}

@media screen and (max-width: 960px) {
    #main-title{
        background-image: none;
        font-size: 1.8rem;
        margin-bottom: -50px;
        margin-left: 20%;
    } 
    .poems{
        width: 100%;
        margin: 0;
    }
    .poems-list{
        background-color: #333;
        .list{
            width: 100%;
            ul{
                width: 100%;
                
                li{
                    width: 100%;
                }
            } 
        }
    }
}

@media screen and (max-width: 600px) {
    .articles-title-list ul{
        width: 100%;
    }
    .wrapper{
        width: 100%;
    }
    .form{
        width: 340px;
        margin: auto;
    }
}