/* general*/
body{
    display: flex;
    font-family: 'Montserrat';
    margin: 0;padding: 0;
    background-color: rgba(204, 175, 127, .6);

   h2, h3, h4{
        font-family: 'Raleway', 'Times New Roman', serif;
    }
    h1{
        margin-left: 10%;
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        margin-bottom: 50px;
    }
}
hr{
    border-top: solid 1px #ccc;
    border-bottom: none;
    width: 50%;
    margin: 20px auto;
}
figcaption{
    font-size: 0.8rem;
    font-style: italic;
}
.container{
    width: 74%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    h2{
        text-align: center;
    }
}

nav{
    background-color: rgb(20, 20, 75);
    position: fixed;
    color: #fff;
    width: 170px;
    padding: 20px;
    ul>li{
        list-style-type: none;
        margin: 20px auto;
        margin-left: -30px;
    }
    a{
        color: #fff;
        text-decoration: none;
        &:hover{
            color:#ccc;
        }
    }
    #burger{
        display: none;
        float: right;
        &:hover{
            cursor: pointer;
            color: orange;
        }
    }
}

/*home page*/
.home-descri{
    text-align: center;
    p{
        width: 70%;
        margin: 20px auto ;
        line-height: 26px;
    }
}

.home-hero{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
    p{
        width: 40%;
    }
}  
@media screen and (max-width: 1230px) {
    .home-hero p{
        width: 100%;
    }
}

.home-paints{
    border: solid 1px #ccc;
    margin-top: 30px;
    img{
        margin: 12px;
    }
}

/*page feuilletées*/
.articles-title-list{
    width: 74%;
    margin:50px auto;
    padding: 30px;
    border: solid 1px #aaa;
    border-radius: 10px;
    h3{
        text-align: left;
        margin: 20px auto;
    }
}
.page-detail{
    width: 80%;
    margin: auto;
}
/*poeme list*/

.poems{
    font-size: 0.9rem;
    width: 80%;
    margin: auto;
    text-align: left;
}
.poem-imgs{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.poem-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    .list{
        border: solid 1px #ccc;
        padding: 12px;
        width: 40%;
        min-width: 360px;
        margin: 20px auto;
    }
    h3{
        color: rgb(100, 7, 100);
    }
}
.poem-detail{
    p{
        width: 400px;
        margin: auto;
    }
}

/*memoirs*/
.chapter-list{
    border: solid 1px #ccc;
    border-radius: 12px;
    width: 64%;
    padding:26px;
    margin: auto;
    min-width: 340px;
}

.memoire-text{
    width: 74%;
    margin:40px auto;
}

//souvenirs page
.houses-pics, .street-pics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    figure{
        width: 44%;
    }
}
.souvenirs-wrap{
    figcaption{
        width: 400px;
        margin: auto;
    }
}

.annotation{
    font-size: 0.8rem;
    text-align: left !important;
    font-style: italic;
}

/** rouviere*/

.rouviere{
    p{
        text-align: left;
    }
    span {
        text-decoration: underline;
        margin-bottom: 16px;
    }
}

/* links page*/
.fav-links{
    width: 50%;
    margin: auto;
    min-width: 400px;
    ul{
        list-style-type: none;
        text-align: center;
        li{
            margin: 20px;
        }
        a{
            margin: 12px;
        }
    }
}

