@charset "UTF-8";
/* general*/
@font-face {
  font-family: "freestyle";
  src: url("../fonts/FREESCPT.TTF"); }
body {
  display: flex;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background-color: #fcf6dc; }
  body h2 {
    width: 50%;
    align-self: flex-start;
    font-family: 'Freestyle';
    font-size: 2.7rem;
    color: #2f41c7; }
  body h3, body h4 {
    font-family: 'Raleway', 'Times New Roman', serif;
    color: #14144b; }
  body h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.3rem;
    color: #14144b; }

#main-title {
  width: 500px;
  padding: 100px;
  background: url("../images/post-it.png") no-repeat center;
  background-size: contain;
  text-align: center;
  position: absolute;
  left: 50%;
  top: -30px; }

hr {
  border-top: solid 1px #ccc;
  border-bottom: none;
  width: 50%;
  margin: 20px auto; }

figcaption {
  font-size: 0.8rem;
  font-style: italic; }

.container {
  width: 74%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 80px; }

nav {
  background: url("../images/menu.png") top no-repeat;
  position: fixed;
  width: 220px;
  background-size: cover;
  margin-left: 8px;
  padding: 40px 30px; }
  nav ul {
    transition: all .6s ease;
    width: 100%; }
    nav ul li {
      list-style-type: none;
      margin: 20px 0;
      margin-left: -30px;
      color: #ccc;
      width: 100%; }
      nav ul li a {
        color: #2f41c7;
        text-decoration: none;
        width: 100%;
        padding: 8px; }
        nav ul li a:hover {
          color: #ccc;
          background-color: #2f41c7; }
  nav #burger {
    display: none;
    float: left; }
    nav #burger:hover {
      cursor: pointer;
      color: orange; }

/*home page*/
#home-title {
  margin-left: 5%; }

.wrapper {
  text-align: center;
  width: 90%;
  margin: auto; }
  .wrapper h2 {
    font-size: 2.8rem; }
  .wrapper p {
    width: 70%;
    margin: 20px auto;
    line-height: 26px; }

.home-wrap-hero {
  width: 100%;
  height: 600px;
  margin: auto;
  background: url("../images/home/leaves2.jpg") no-repeat center;
  background-size: cover;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .home-wrap-hero p {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    align-self: flex-end;
    width: 30%;
    margin-left: 20px;
    font-size: 1.2rem;
    border-radius: 10px; }

@media screen and (max-width: 1230px) {
  .home-hero p {
    width: 100%;
    margin: 20px; } }
.home-paints {
  border: solid 1px #ccc;
  margin-top: 30px; }
  .home-paints img {
    margin: 12px; }

/*page feuilletées*/
.articles-title-list {
  width: 90%;
  margin: 50px auto;
  padding-left: 50px;
  padding-right: 50px;
  background: url("../images/sheet.png") no-repeat;
  overflow-y: scroll;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /*poems*/ }
  .articles-title-list .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px; }
    .articles-title-list .list ul {
      margin: 10px;
      width: 42%;
      padding: 0;
      box-shadow: 2px 2px 2px rgba(47, 64, 198, 0.4), -2px -2px 2px rgba(47, 64, 198, 0.4);
      border-radius: 8px;
      min-width: 300px; }
      .articles-title-list .list ul li {
        margin: 10px; }
  @media screen and (max-width: 1200px) {
    .articles-title-list .list ul {
      width: 80%; } }
  .articles-title-list h3 {
    font-family: 'freestyle';
    text-transform: uppercase; }
  .articles-title-list ul {
    margin-bottom: -210px; }
  .articles-title-list li {
    text-align: left;
    padding-left: 30px;
    margin: 30px auto;
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'freestyle';
    width: 70%; }
    .articles-title-list li a {
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 20px;
      color: #2f41c7;
      transition: box-shadow .6s ease;
      border-radius: 12px;
      width: auto; }
      .articles-title-list li a:hover {
        color: #14144b;
        box-shadow: 2px 2px 4px rgba(47, 64, 198, 0.4), -2px -2px 4px rgba(47, 64, 198, 0.4); }
    .articles-title-list li span {
      margin-left: 100px; }

.chapter-list {
  min-height: 800px; }
  .chapter-list ul {
    margin-top: 200px; }

.page-detail {
  width: 80%;
  margin: auto; }

/*poeme list*/
.poems-list {
  height: 1324px; }

.poem-imgs {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.poem-detail p {
  width: 400px;
  margin: auto; }

.chapters img {
  margin-top: 80px; }

.memoire-text {
  width: 74%;
  margin: 40px auto; }

.houses-pics, .street-pics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .houses-pics figure, .street-pics figure {
    width: 44%; }

.souvenirs-wrap figcaption {
  width: 400px;
  margin: auto; }

.annotation {
  font-size: 0.8rem;
  text-align: left !important;
  font-style: italic; }

/** rouviere*/
.rouviere p {
  text-align: left; }
.rouviere span {
  text-decoration: underline;
  margin-bottom: 16px; }

/* links page*/
.fav-links {
  width: 50%;
  margin: auto;
  min-width: 400px; }
  .fav-links ul {
    list-style-type: none;
    text-align: center; }
    .fav-links ul li {
      margin: 20px; }
    .fav-links ul a {
      margin: 12px; }

.form {
  margin-top: 220px; }
  .form form {
    margin: auto; }
    .form form label {
      margin: 14px; }
    .form form .contact-info {
      display: flex;
      flex-direction: column;
      margin: 20px auto;
      width: 500px; }
      .form form .contact-info input {
        height: 20px; }
      .form form .contact-info li {
        color: red; }
      .form form .contact-info li::marker {
        display: none; }
    .form form textarea {
      height: 120px; }
    .form form button {
      background-color: #149ac7;
      width: 200px;
      padding: 12px;
      border: 1px ridge #149ac7;
      margin: 30px auto;
      color: #fff;
      transition: background-color .5s ease; }
      .form form button:hover {
        background-color: transparent;
        color: #149ac7;
        cursor: pointer; }
  .form .alert-success {
    margin-left: 100px;
    background-color: #4aa34a;
    color: #fff;
    padding: 12px;
    width: 300px;
    border-radius: 8px; }

.text-detail {
  margin-top: 200px;
  background-color: #fff;
  background-size: auto;
  width: 76%;
  padding: 100px;
  box-shadow: 2px 2px 4px #e2d6d6, -2px -2px 4px #ccc; }
  .text-detail h2 {
    width: 80%;
    margin: auto; }

@media screen and (max-width: 1200px) {
  #main-title {
    position: relative;
    margin: auto;
    left: auto;
    width: 400px;
    padding: 80px; }

  h2 {
    width: 100% !important;
    align-self: center; }

  .articles-title-list ul {
    width: 100%; }
    .articles-title-list ul li {
      width: 100%;
      margin-left: -60px; } }
@media screen and (max-width: 960px) {
  #main-title {
    background-image: none;
    font-size: 1.8rem;
    margin-bottom: -50px;
    margin-left: 20%; }

  .poems {
    width: 100%;
    margin: 0; }

  .poems-list {
    background-color: #333; }
    .poems-list .list {
      width: 100%; }
      .poems-list .list ul {
        width: 100%; }
        .poems-list .list ul li {
          width: 100%; } }
@media screen and (max-width: 600px) {
  .articles-title-list ul {
    width: 100%; }

  .wrapper {
    width: 100%; }

  .form {
    width: 340px;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
